<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.insearch.mappers.mapMapper">

	<select id="getStoreNo" parameterType="StoreVO" resultType="int">
		select COALESCE(MAX(no), 0) from tb_store 
		where name = #{name} and address = #{address} 
		and lat = #{lat} and lng = #{lng}
	</select>
	
	<insert id="registerStore" parameterType="StoreVO">
		insert into tb_store(name, address, lat, lng, createdate)
    	values(#{name}, #{address}, #{lat}, #{lng}, now())
	</insert>
	
	<insert id="registerComment" parameterType="EvaluationVO">
		insert into tb_evaluation(store_no, comment, star, user_no, createdate)
    	values(#{store_no}, #{comment}, #{star}, #{user_no}, now())
	</insert>
	
	<delete id="deleteCommentByEmail" parameterType="int">
		delete from tb_evaluation
		where user_no = #{user_no}
	</delete>
	
	<select id="selectCommentCnt" parameterType="int" resultType="int">
		select count(*) from tb_evaluation
		where store_no = #{store_no}
	</select>
	
	<select id="selectAvgStar" parameterType="int" resultType="double">
		select round(avg(star), 2) from tb_evaluation
		where store_no = #{store_no}
	</select>
	
	<select id="selectCommentList" parameterType="hashmap" resultType="hashmap">
		select 
			substring(u.email, 1, 4) as email, e.comment as comment, e.createdate as createdate, e.star as star
		from 
			tb_evaluation as e, tb_user as u
		where 
			e.user_no = u.no and store_no = #{store_no}
			order by e.no desc
			limit #{start}, #{pagecnt}
	</select>

</mapper>

