<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.insearch.dao.userDAO">
<!-- <mapper namespace="com.ustyle.mappers.userMapper"> -->


	<select id="emailCheck" parameterType="UserVO" resultType="int">
		select count(email) from tb_user where email = #{email}
	</select>
	<update id="emailaccept" parameterType="map">
		update tb_user
			emailflag = 0 
		where email = #{email} and emailflag=#{emailflag}
	</update>
	<insert id="join" parameterType="UserVO">
		insert into tb_user 
			(`pw`,`email`,`agerange`,`gender`,`emailflag`)
		VALUES
			(#{pw},#{email},#{agerange},#{gender},#{emailflag})
	</insert>
	<select id="userLogin" parameterType="String">
		select * from tb_user where
		email=#{email}
	</select>
	<select id="selectList" resultType="UserVO">
		select * from tb_user
	</select>

</mapper>

