<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.insearch.mappers.userMapper">

	<select id="emailCheck" parameterType="UserVO" resultType="int">
		select count(email) from tb_user where email = #{email}
	</select>
	<update id="emailAccept" parameterType="map">
		update tb_user
		set	emailflag = 'y' 
		where email = #{email} and emailflag=#{emailflag}
	</update>
	<insert id="join" parameterType="UserVO">
		insert into tb_user 
			(`pw`,`email`,`agerange`,`gender`,`emailflag`)
		VALUES
			(#{pw},#{email},#{agerange},#{gender},#{emailflag})
	</insert>
	<select id="userLogin" parameterType="String" resultType="UserVO">
		select * from tb_user where
		email=#{email}
	</select>
	<select id="selectList" resultType="UserVO">
		select * from tb_user
	</select>
	<delete id="memberSecession" parameterType="String">
		delete from tb_user where email=#{email}
	</delete>
	<update id="pwChange" parameterType="map">
		update tb_user 
		set pw = #{pw} 
		where email = #{email}
	</update>

</mapper>

