<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.insearch.dao.UserDAO">
	<!-- <cache type="org.mybatis.caches.redis.RedisCache" /> -->

	<select id="selectUsers" resultType="User">
		select * from tb_user
	</select>
	
	<select id="selectUser" parameterType="String" resultType="User">
		select * from tb_user where id = #{id}
	</select>

	<insert id="insertUser" parameterType="User">
		insert into tb_user
		(id, pw, email, agerange, gender, emailflag)
		values
		(#{id}, #{pw}, #{email}, #{agerange}, #{gender}, #{emailflag})
	</insert>

	<delete id="deleteUser" parameterType="String">
		delete from tb_user where id = #{id}
	</delete>

	<!-- <update id="updateUser" parameterType="User">
		update tb_user
		<if test="gender != null and birthyear != null">
			set birthyear = #{birthyear}, gender = #{gender}
		</if>
		<if test="gender == null or birthyear == null">
			set language = #{language}
		</if>
		where id = #{id}
	</update> -->

	<select id="existUserId" parameterType="String" resultType="boolean">
		select count(*) from tb_user where id = #{id}
	</select>

</mapper>